.container {
    min-height: calc(100vh - (var(--spacing-sm) + var(--spacing-sm)));
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
}

.card {
    background: var(--black);
    padding: var(--spacing-md);
    border-radius: var(--radius-md);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
}

.card h1 {
    color: var(--white);
}

.card form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
}

.card form button {
    width: 100%;
}

.footer {
    text-align: center;
    font-size: 1rem;
    color: var(--white);
}

.link {
    color: var(--white);
}
.link:hover {
    text-decoration: underline;
}