.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white);
    display: flex;
    justify-content: center;
    padding: var(--spacing-xs) 0;
}
.header img {
    width: 100px;
}

.banner, .ourStyle, .convenience {
    padding: 0 calc(var(--radius-md) * 3);
}

.banner {
    height: calc(100vh - (var(--spacing-sm) * 2));
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    gap: calc(var(--spacing-md) * 4);
}

.banner h1 {
    font-size: 4rem;
}
.banner p {
    font-size: 1.25rem;
    font-weight: 300;
    color: var(--grey);
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-sm);
}

.banner img {
    max-height: 80%;
    object-fit: contain;
}

.ourStyle {
    padding-top: var(--spacing-sm);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
}

.ourStyleGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-md);
}

.ourStyleGrid li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xs);
}

.styleImage {
    background: var(--grey-light);
    border-radius: var(--radius-md);
    overflow: hidden;
    height: 350px;
    width: 100%;
}
.styleImage img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.styleBlock {
    background: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.styleBlock a {
    color: var(--black);
    background: var(--white);
}

.convenience {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    gap: var(--spacing-md);
}

.convenience img {
    max-height: 400px;
    object-fit: contain;
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-sm);
}

.rightSide ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
}
.rightSide ul li {
    margin-left: 17px;
    list-style: disc;
}
.rightSide ul li span {
    font-weight: 600;
}

.footer {
    border-top: 1px solid var(--grey-light);
    width: 100%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
    color: var(--black);
    align-items: center;
    justify-content: center;
    padding: var(--spacing-sm);
}
.footer img {
    width: 100px;
}

@media screen and (max-width: 1000px) {
    .banner {
        margin-top: var(--spacing-sm);
        grid-template-columns: 1fr;
        height: auto;
    }
    .ourStyleGrid, .convenience {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
@media screen and (max-width: 600px) {
    .banner h1 { font-size: 2rem; }
    .banner p { font-size: 1rem; }
    .leftSide {
        order: 1;
    }
    .banner, .ourStyle, .convenience {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 400px) {
    .ourStyleGrid, .convenience {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}